<h3>Advanced (original)</h3>
<p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
              multiple="multiple" accept="image/*" maxFileSize="1000000">
  <ng-template pTemplate="content">
    <ul *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
    </ul>
  </ng-template>
</p-fileUpload>

<h3>Advanced (custom labels)</h3>
<p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
              multiple="multiple" accept="image/*" maxFileSize="1000000"
              chooseLabel="Custom Choose"
              uploadLabel="Custom Upload"
              cancelLabel="Custom Cancel">
</p-fileUpload>
